body {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

.linkFacebook {
  color: #3797ef;
  font-weight: 600;
  font-size: 14px;
  margin-left: 0.5rem;
  text-decoration: none;
}
.linkSwitchAccounts {
  color: #3797ef;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.linkHome {
  text-decoration: none;
  color: white;
}

.spanStory {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: solid 2px #d91a46;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loading */

/* Loading.css */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
