.linkFacebook{
    color: #3797EF;
    font-weight: 600;
    font-size: 14px;
    margin-left: 0.5rem;
    text-decoration: none;
}
.linkSwitchAccounts{
    color: #3797EF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.linkHome{
    text-decoration: none;
    color: white;
}